<div class="relative full-width">
    <!-- Breadcrumb -->
    <div class="container-web relative">
        <div class="container">
            <div class="row">
                <div class="breadcrumb-web">
                    <ul class="clear-margin">
                        <li class="animate-default title-hover-red"><a href="#">Home</a></li>
                        <li class="animate-default title-hover-red"><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Content Blogs -->
    <div class="relative container-web">
        <div class="container">
            <div class="row relative">
                <div class=" relative clearfix full-width grid-box-content top-margin-default" style="position: relative; height: 2186.92px;">
                    <!-- Blog Son -->
                    <div class="relative card grid-content-blogs" style="position: absolute; left: 0px; top: 0px;">
                        <div class="image-content-blog center-vertical-image zoom-image-hover relative overfollow-hidden clearfix">
                            <a href="#"><img src="../../../../assets/img/news_img_1-min.png" alt=""></a>
                            <a href="#"></a>
                        </div>
                        <div class="category-blog border no-border-t no-border-l no-border-r">
                            <p class=" clear-margin relative title-hover-black"><a href="#" class="text-red animate-default">UNCATEGORIZED</a></p>
                            <p class="comment-icon clear-margin relative">3</p>
                        </div>
                        <p class="date-p-blog">February 22, 2018</p>
                        <h3 class="title-blog-in-category title-hover-black"><a class="animate-default" href="#">8 Amazon facts you didn’t know</a></h3>
                    </div>
                    <!-- End Blog Son -->
                    <div class="relative card grid-content-blogs" style="position: absolute; left: 399px; top: 0px;">
                        <div class="image-content-blog center-vertical-image zoom-image-hover relative overfollow-hidden clearfix">
                            <a href="#"><img src="../../../../assets/img/news_img_2-min.png" alt=""></a>
                            <a href="#"></a>
                        </div>
                        <div class="category-blog border no-border-t no-border-l no-border-r">
                            <p class=" clear-margin relative title-hover-black"><a href="#" class="text-red animate-default">UNCATEGORIZED</a></p>
                            <p class="comment-icon clear-margin relative">3</p>
                        </div>
                        <p class="date-p-blog">February 22, 2018</p>
                        <h3 class="title-blog-in-category title-hover-black"><a class="animate-default" href="#">How an entrepreneur built eero, and brought us Wi-Fi that just works.</a></h3>
                    </div>
                    <div class="relative card grid-content-blogs" style="position: absolute; left: 799px; top: 0px;">
                        <div class="image-content-blog center-vertical-image zoom-image-hover relative overfollow-hidden clearfix">
                            <a href="#"><img src="../../../../assets/img/news_img_3-min.png" alt=""></a>
                            <a href="#"></a>
                        </div>
                        <div class="category-blog border no-border-t no-border-l no-border-r">
                            <p class=" clear-margin relative title-hover-black"><a href="#" class="text-red animate-default">UNCATEGORIZED</a></p>
                            <p class="comment-icon clear-margin relative">3</p>
                        </div>
                        <p class="date-p-blog">February 22, 2018</p>
                        <h3 class="title-blog-in-category title-hover-black"><a class="animate-default" href="#">10 cool things you didn't know Alexa could do</a></h3>
                    </div>
                    <div class="relative card grid-content-blogs" style="position: absolute; left: 0px; top: 608px;">
                        <div class="image-content-blog center-vertical-image zoom-image-hover relative overfollow-hidden clearfix">
                            <a href="#"><img src="../../../../assets/img/news_img_4-min.png" alt=""></a>
                            <a href="#"></a>
                        </div>
                        <div class="category-blog border no-border-t no-border-l no-border-r">
                            <p class=" clear-margin relative title-hover-black"><a href="#" class="text-red animate-default">UNCATEGORIZED</a></p>
                            <p class="comment-icon clear-margin relative">3</p>
                        </div>
                        <p class="date-p-blog">February 22, 2018</p>
                        <h3 class="title-blog-in-category title-hover-black"><a class="animate-default" href="#">Women-owned businesses thrive with Amazon Services</a></h3>
                    </div>
                    <div class="relative card grid-content-blogs" style="position: absolute; left: 399px; top: 718px;">
                        <div class="image-content-blog center-vertical-image zoom-image-hover relative overfollow-hidden clearfix">
                            <a href="#"><img src="../../../../assets/img/news_img_5-min.png" alt=""></a>
                            <a href="#"></a>
                        </div>
                        <div class="category-blog border no-border-t no-border-l no-border-r">
                            <p class=" clear-margin relative title-hover-black"><a href="#" class="text-red animate-default">UNCATEGORIZED</a></p>
                            <p class="comment-icon clear-margin relative">3</p>
                        </div>
                        <p class="date-p-blog">February 22, 2018</p>
                        <h3 class="title-blog-in-category title-hover-black"><a class="animate-default" href="#">Reclaiming happiness after tragedy</a></h3>
                    </div>
                    <div class="relative card grid-content-blogs" style="position: absolute; left: 799px; top: 538px;">
                        <div class="image-content-blog center-vertical-image zoom-image-hover relative overfollow-hidden clearfix">
                            <a href="#"><img src="../../../../assets/img/news_img_6-min.png" alt=""></a>
                            <a href="#"></a>
                        </div>
                        <div class="category-blog border no-border-t no-border-l no-border-r">
                            <p class=" clear-margin relative title-hover-black"><a href="#" class="text-red animate-default">UNCATEGORIZED</a></p>
                            <p class="comment-icon clear-margin relative">3</p>
                        </div>
                        <p class="date-p-blog">February 22, 2018</p>
                        <h3 class="title-blog-in-category title-hover-black"><a class="animate-default" href="#">The Marvelous Mrs. Maisel wins two Golden Globe Awards</a></h3>
                    </div>
                    <div class="relative card grid-content-blogs" style="position: absolute; left: 0px; top: 1412px;">
                        <div class="image-content-blog center-vertical-image zoom-image-hover relative overfollow-hidden clearfix">
                            <a href="#"><img src="../../../../assets/img/news_img_7-min.png" alt=""></a>
                            <a href="#"></a>
                        </div>
                        <div class="category-blog border no-border-t no-border-l no-border-r">
                            <p class=" clear-margin relative title-hover-black"><a href="#" class="text-red animate-default">UNCATEGORIZED</a></p>
                            <p class="comment-icon clear-margin relative">3</p>
                        </div>
                        <p class="date-p-blog">February 22, 2018</p>
                        <h3 class="title-blog-in-category title-hover-black"><a class="animate-default" href="#">Powering a clean future</a></h3>
                    </div>
                    <div class="relative card grid-content-blogs" style="position: absolute; left: 399px; top: 1337px;">
                        <div class="image-content-blog center-vertical-image zoom-image-hover relative overfollow-hidden clearfix">
                            <a href="#"><img src="../../../../assets/img/news_img_8-min.png" alt=""></a>
                            <a href="#"></a>
                        </div>
                        <div class="category-blog border no-border-t no-border-l no-border-r">
                            <p class=" clear-margin relative title-hover-black"><a href="#" class="text-red animate-default">UNCATEGORIZED</a></p>
                            <p class="comment-icon clear-margin relative">3</p>
                        </div>
                        <p class="date-p-blog">February 22, 2018</p>
                        <h3 class="title-blog-in-category title-hover-black"><a class="animate-default" href="#">Bringing The Spheres’ green walls to life</a></h3>
                    </div>
                    <div class="relative card grid-content-blogs" style="position: absolute; left: 799px; top: 1412px;">
                        <div class="image-content-blog center-vertical-image zoom-image-hover relative overfollow-hidden clearfix">
                            <a href="#"><img src="../../../../assets/img/news_img_9-min.png" alt=""></a>
                            <a href="#"></a>
                        </div>
                        <div class="category-blog border no-border-t no-border-l no-border-r">
                            <p class=" clear-margin relative title-hover-black"><a href="#" class="text-red animate-default">UNCATEGORIZED</a></p>
                            <p class="comment-icon clear-margin relative">3</p>
                        </div>
                        <p class="date-p-blog">February 22, 2018</p>
                        <h3 class="title-blog-in-category title-hover-black"><a class="animate-default" href="#">Now streaming: CBS All Access on Amazon Channels</a></h3>
                    </div>
                </div>
                <div class="relative full-width overfollow-hidden">
                    <p class="load-more-blogs animate-default"><i class="ti-reload"></i> load more</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content Blogs -->
    <!-- Support -->
    <div class=" support-box full-width bg-red support_box_v2">
        <div class="container-web">
            <div class=" container">
                <div class="row">
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_free_ship_white-min.png" alt="Icon Free Ship" class="absolute">
                        <p>free shipping</p>
                        <p>on order over $500</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_support_white-min.png" alt="Icon Supports" class="absolute">
                        <p>support</p>
                        <p>life time support 24/7</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_patner_white-min.png" alt="Icon partner" class="absolute">
                        <p>help partner</p>
                        <p>help all aspects</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_phone_table_white-min.png" alt="Icon Phone Tablet" class="absolute">
                        <p>contact with us</p>
                        <p>+07 (0) 7782 9137</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>