<div class="relative full-width">
    <!-- Breadcrumb -->
    <div class="container-web relative">
        <div class="container">
            <div class="row">
                <div class="breadcrumb-web">
                    <ul class="clear-margin">
                        <li class="animate-default title-hover-red"><a href="#">Home</a></li>
                        <li class="animate-default title-hover-red"><a href="#">All Products</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Content Category -->
    <div class="relative container-web">
        <div class="container">
            <div class="row">
                <div class="col-md-12 relative clear-padding">
                    <div class="col-sm-12 col-xs-12 relative overfollow-hidden clear-padding button-show-sidebar">
                        <p onclick="showSideBar()"><span class="ti-filter"></span> Sidebar</p>
                    </div>
                    <div class="banner-top-category-page bottom-margin-default effect-bubba zoom-image-hover overfollow-hidden relative full-width">
                        <img src="../../../../assets/img/slide_category_v2-min.png" alt="">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="row ">
                <!-- Sider Bar -->
                <div class="col-md-3 relative right-padding-default clear-padding" id="slide-bar-category">
                    <div class="col-md-12 col-sm-12 col-xs-12 sider-bar-category border bottom-margin-default">
                        <p class="title-siderbar bold">CATEGORIES</p>
                        <ul class="clear-margin list-siderbar">
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Mobile &amp; Tablet</a></li>
                            <li><a href="#">Electric Appliances</a></li>
                            <li><a href="#">Electronics &amp; Technology</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Health &amp; Beauty</a></li>
                            <li><a href="#">Mother &amp; Baby</a></li>
                            <li><a href="#">Books &amp; Stationery</a></li>
                            <li><a href="#">Home &amp; Life</a></li>
                            <li><a href="#">Sports &amp; Outdoors</a></li>
                            <li><a href="#">Auto &amp; Moto</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-sm-12 col-xs-12 sider-bar-category border bottom-margin-default">
                        <p class="title-siderbar bold">BRANDS</p>
                        <ul class="check-box-custom clear-margin clear-margin">
                            <li>
                                <label>Apple  (465)
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>Asus  (344)
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>Audio-Technica  (136)
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>Belkin  (121)
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>BlueStone  (258)
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>Brother  (119)
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>Canon  (205)
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>China OEM  (113)
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>Comet  (330)
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 relative border bottom-margin-default sider-bar-category">
                        <div class="relative border no-border-t no-border-l no-border-r bottom-padding-default">
                            <p class="title-siderbar bold">price</p>
                            <div class="range-slider">
                                <input value="50" min="0" max="1000" class="multi-range multirange original" type="range"><input value="50" min="0" max="1000" class="multi-range multirange ghost" type="range" style="--low:6%; --high:49%;">						
                                <p class="text-range">Range: <span class="number-range">$50 - $500</span></p>
                            </div>
                        </div>
                        <div class="relative border no-border-t no-border-l no-border-r bottom-padding-default">
                            <p class="title-siderbar bold top-padding-default">color</p>
                            <ul class="check-box-custom list-color clearfix clear-margin">
                                <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                                  <li>
                                    <label>
                                        <input type="checkbox">
                                          <span class="checkmark"></span>
                                      </label>
                                  </li>
                            </ul>
                        </div>
                        <div class="relative">
                            <p class="title-siderbar bold top-padding-default">size</p>
                            <ul class="check-box-custom clear-margin">
                            <li>
                                <label>S
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>M
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>L
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>XL
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>XXL
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                            <li>
                                <label>XXXL
                                    <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="bottom-margin-default banner-siderbar col-md-12 col-sm-12 col-xs-12 clear-padding clearfix">
                        <div class="overfollow-hidden banners-effect5 relative center-vertical-image">
                            <img src="../../../../assets/img/banner_siderbar-min.png" alt="Siderbar">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <!-- End Sider Bar Box -->
                <!-- Content Category -->
                <div class="col-md-9 relative clear-padding">
                    <!-- Product Content Category -->
                    <div class="relative clearfix">
                        <div class="bar-category bottom-margin-default border no-border-r no-border-l no-border-t">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-4">
                                    <p class="title-category-page clear-margin">Electronic</p>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-8 right-category-bar float-right relative">
                                    <p class=" float-left">Showing 1–20 of 75 results</p>
                                    <a href="#" class=" float-left active-view-bar"><span class="icon-bar-category border ti-layout-grid3"></span></a>
                                    <a href="#" class=" float-left"><span class="icon-bar-category border ti-layout-list-thumb"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_30-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Wayfarer Messenger Bag5</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_26-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Voyage Yoga Bag</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_8-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">MH02-Black09</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_27-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Impulse Duffle2</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_28-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Wayfarer Messenger Bag</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_29-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Rival Field Messenger</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_31-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">MH01-Black</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_32-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Impulse Duffle</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_33-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Endeavor Daytrip Backpack</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_4-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Emile Henry Braiserr21</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_5-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Diam Special1</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_14-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Diam Special08</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_22-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Mauris varius</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_23-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Maecenas justo ex</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_16-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Vel regione discere ut</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_24-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Beatvs Solo2 On-Ear</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_25-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Te eam iisque deseruisse</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 product-category relative">
                            <div class="image-product relative overfollow-hidden">
                                <div class="center-vertical-image">
                                    <img src="../../../../assets/img/product_home_9-min.png" alt="Product">
                                </div>
                                <a href="#"></a>
                                <ul class="option-product animate-default">
                                    <li class="relative"><a href="#"><i class="data-icon data-icon-ecommerce icon-ecommerce-bag"></i></a></li>
                                    <li class="relative"><a href="#"><i class="data-icondata-icon-basic icon-basic-heart" aria-hidden="true"></i></a></li>
                                    <li class="relative"><a href="javascript:;"><i class="data-icon data-icon-basic icon-basic-magnifier" data-toggle="modal" data-target="#quickview" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <h3 class="title-product clearfix full-width title-hover-black"><a href="#">Vel regione discere ut</a></h3>
                            <p class="clearfix price-product"><span class="price-old">$700</span> $350</p>
                            <div class="clearfix ranking-product-category ranking-color">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="pagging relative">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> First</a></li>
                                <li class="active-pagging"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="dots-pagging">. . .</li>
                                <li><a href="#">102</a></li>
                                <li><a href="#">Last <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Product Content Category -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Sider Bar -->
    <!-- Content Modal -->
    <div class="modal fade bs-example-modal-lg" id="quickview" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content clearfix">
                <div class="modal-body clearfix">
                    <div class=" relative clearfix">
                        <button type="button" class="close-modal animate-default" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="ti-close"></span>
                        </button>
                        <div class="col-md-5 slide-modal clear-padding-left col-sm-12 col-xs-12">
                            <div class="relative slide-modal-big full-width">
                                <div id="owl-big-slide-quickview" class="owl-carousel owl-theme relative sync-owl-big-image owl-loaded owl-drag owl-hidden">
                                  
                                  
                                  
                                  
                                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-460px, 0px, 0px); transition: all 0s ease 0s; width: 3680px;"><div class="owl-item cloned" style="width: 460px;"><div class="item center-vertical-image">
                                    <img src="../../../../assets/img/slide_quickview_2-min.png" alt="Product Image Big Slide">
                                  </div></div><div class="owl-item cloned" style="width: 460px;"><div class="item center-vertical-image">
                                    <img src="../../../../assets/img/slide_quickview_3-min.png" alt="Product Image Big Slide">
                                  </div></div><div class="owl-item" style="width: 460px;"><div class="item center-vertical-image">
                                    <img src="../../../../assets/img/slide_quickview_4-min.png" alt="Product Image Big Slide">
                                  </div></div><div class="owl-item active" style="width: 460px;"><div class="item center-vertical-image">
                                    <img src="../../../../assets/img/slide_quickview_1-min.png" alt="Product Image Big Slide">
                                  </div></div><div class="owl-item" style="width: 460px;"><div class="item center-vertical-image">
                                    <img src="../../../../assets/img/slide_quickview_2-min.png" alt="Product Image Big Slide">
                                  </div></div><div class="owl-item" style="width: 460px;"><div class="item center-vertical-image">
                                    <img src="../../../../assets/img/slide_quickview_3-min.png" alt="Product Image Big Slide">
                                  </div></div><div class="owl-item cloned" style="width: 460px;"><div class="item center-vertical-image">
                                    <img src="../../../../assets/img/slide_quickview_4-min.png" alt="Product Image Big Slide">
                                  </div></div><div class="owl-item cloned" style="width: 460px;"><div class="item center-vertical-image">
                                    <img src="../../../../assets/img/slide_quickview_1-min.png" alt="Product Image Big Slide">
                                  </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></button></div><div class="owl-dots disabled"></div></div>
                            </div>
                            <div class="relative thumbnail-slide-detail full-width bottom-margin-default">
                                <div id="owl-thumbnail-slide-quickview" class="owl-carousel owl-theme sync-owl-thumbnail-image owl-loaded owl-drag owl-hidden" data-items="4,3,2,2">
                                  
                                  
                                  
                                  
                                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 490px;"><div class="owl-item active" style="width: 92.289px; margin-right: 30px;"><div class="item">
                                    <img src="../../../../assets/img/slide_quickview_4-min.png" alt="Product Thumbnail Slide">
                                  </div></div><div class="owl-item active" style="width: 92.289px; margin-right: 30px;"><div class="item">
                                    <img src="../../../../assets/img/slide_quickview_1-min.png" alt="Product Thumbnail Slide">
                                  </div></div><div class="owl-item active" style="width: 92.289px; margin-right: 30px;"><div class="item">
                                    <img src="../../../../assets/img/slide_quickview_2-min.png" alt="Product Thumbnail Slide">
                                  </div></div><div class="owl-item active current" style="width: 92.289px; margin-right: 30px;"><div class="item">
                                    <img src="../../../../assets/img/slide_quickview_3-min.png" alt="Product Thumbnail Slide">
                                  </div></div></div></div><div class="owl-dots disabled"></div></div>
                                
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="top-title-modal border no-border-l no-border-r no-border-t bottom-padding-15-default">
                                <p class="title-product-modal">Apple iPhone X</p>
                                <div class="box-rank-modal">
                                    <div class="clearfix ranking-product-modal ranking-color">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <p class="count-review-modal">(4 reviews)</p>
                                </div>
                            </div>
                            <p class="price-modal top-margin-15-default bottom-margin-15-default"><span class="price-old-modal">$700.00</span> <span class="text-red left-margin-15-default">$350.00</span></p>
                            <p class="intro-product-modal">Meet the iPhone X - the device that’s so smart that it responds to a tap, your voice, and even a glance. Elegantly designed with a large 14.73 cm (5.8) Super Retina screen and a durable front-and-back glass, this smartphone is designed to impress. What’s more, you can charge this iPhone wirelessly.</p>
                            <div class="option-button-modal relative bottom-margin-default top-margin-default">
                                <div class="relative box-num-product-modal ">
                                    <input type="text" name="num-product" id="num-modal" value="1" class="">
                                    <span class="ti-plus animate-default" onclick="plusBtnInput('#num-modal')"></span>
                                    <span class="ti-minus animate-default" onclick="minusBtnInput('#num-modal')"></span>
                                </div>
                                <a href="#" class="add-cart-modal left-margin-15-default animate-default">ADD TO CART</a>
                                <a href="#" class="add-favor-modal left-margin-15-default animate-default"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                            <div class="relative category-product-modal">
                                <p>SKU : <span class="text-red">671272</span></p>
                                <p>Category : <a href="#" class="text-red">Mobile &amp; Tablet</a></p>
                                <p>Tags : <span class="text-red"><a href="#" class="text-red">iPhone</a>, <a href="#" class="text-red">Apple</a>, <a href="#" class="text-red">iPhone X</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content Modal -->
    <!-- Support -->
    <div class=" support-box full-width bg-red support_box_v2">
        <div class="container-web">
            <div class=" container">
                <div class="row">
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_free_ship_white-min.png" alt="Icon Free Ship" class="absolute">
                        <p>free shipping</p>
                        <p>on order over $500</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_support_white-min.png" alt="Icon Supports" class="absolute">
                        <p>support</p>
                        <p>life time support 24/7</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_patner_white-min.png" alt="Icon partner" class="absolute">
                        <p>help partner</p>
                        <p>help all aspects</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_phone_table_white-min.png" alt="Icon Phone Tablet" class="absolute">
                        <p>contact with us</p>
                        <p>+07 (0) 7782 9137</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>