<div class="relative full-width">
    <!-- Breadcrumb -->
    <div class="container-web relative">
        <div class="container">
            <div class="row">
                <div class="breadcrumb-web">
                    <ul class="clear-margin">
                        <li class="animate-default title-hover-red"><a href="#">Home</a></li>
                        <li class="animate-default title-hover-red"><a href="#">404 Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Content 404 Page -->
    <div class="relative container-web">
        <div class="container">
            <div class="row relative">
                <div class=" relative content-404">
                    <div class="title-404">
                        <p class="clear-margin">4</p>
                        <img src="../../../../assets/img/icon_404-min.png" alt="Image 404">
                        <p class="clear-margin">4</p>
                    </div>
                    <p>THIS ISN’T THE WEB PAGE YOU ARE LOOKING FOR</p>
                    <div class="btn-back">
                        <p>Please try one of the following pages</p>
                        <a href="#" class="animate-default button-hover-red">home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content 404 Page -->
    <!-- Support -->
    <div class=" support-box full-width bg-red support_box_v2">
        <div class="container-web">
            <div class=" container">
                <div class="row">
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_free_ship_white-min.png" alt="Icon Free Ship" class="absolute">
                        <p>free shipping</p>
                        <p>on order over $500</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_support_white-min.png" alt="Icon Supports" class="absolute">
                        <p>support</p>
                        <p>life time support 24/7</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_patner_white-min.png" alt="Icon partner" class="absolute">
                        <p>help partner</p>
                        <p>help all aspects</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_phone_table_white-min.png" alt="Icon Phone Tablet" class="absolute">
                        <p>contact with us</p>
                        <p>+07 (0) 7782 9137</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>