<div class="relative full-width">
    <!-- Breadcrumb -->
    <div class="container-web relative">
        <div class="container">
            <div class="row">
                <div class="breadcrumb-web">
                    <ul class="clear-margin">
                        <li class="animate-default title-hover-red"><a href="#">Home</a></li>
                        <li class="animate-default title-hover-red"><a href="#">Compare</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Content Compare -->
    <div class="relative container-web">
        <div class="container">
            <div class="row relative">
                <div class="full-width compare-content relative overfollow-hidden top-margin-default">
                    <table class="compare-table">
                        <tbody>
                            <tr>
                                <td><p>Product Image</p></td>
                                <td><img src="../../../../assets/img/product_image_11-min.png" alt=""></td>
                                <td><img src="../../../../assets/img/product_image_9-min.png" alt=""></td>
                                <td><img src="../../../../assets/img/product_image_10-min.png" alt=""></td>
                            </tr>
                            <tr>
                                <td><p>Product Name</p></td>
                                <td><p>Surf Excel</p></td>
                                <td><p>Nirma</p></td>
                                <td><p>Tide</p></td>
                            </tr>
                            <tr>
                                <td><p>Rating</p></td>
                                <td>
                                    <div class="box-rank-modal">
                                        <div class="clearfix ranking-product-modal ranking-color">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-half" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <p class="count-review-modal left-margin-15-default">(4 reviews)</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="box-rank-modal">
                                        <div class="clearfix ranking-product-modal ranking-color">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-half" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <p class="count-review-modal left-margin-15-default">(4 reviews)</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="box-rank-modal">
                                        <div class="clearfix ranking-product-modal ranking-color">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-half" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <p class="count-review-modal left-margin-15-default">(4 reviews)</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Price</p></td>
                                <td>
                                    <p class="text-red price-product">350.00</p>
                                </td>
                                <td>
                                    <p class="text-red price-product">350.00</p>
                                </td>
                                <td>
                                    <p class="text-red price-product">350.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Nirma</p></td>
                                <td><p>Tide</p></td>
                                <td><p>Surf Excel</p></td>
                                <td><p>Ariel</p></td>
                            </tr>
                            <tr>
                                <td><p>SKU</p></td>
                                <td><p>#873289</p></td>
                                <td><p>#873289</p></td>
                                <td><p>#873289</p></td>
                            </tr>
                            <tr>
                                <td><p>Size</p></td>
                                <td><p>2L</p></td>
                                <td><p>2L</p></td>
                                <td><p>2L</p></td>
                            </tr>
                            <tr>
                                <td><p>Color</p></td>
                                <td><p>White</p></td>
                                <td><p>Black</p></td>
                                <td><p>Gray</p></td>
                            </tr>
                            <tr>
                                <td><p>Weight</p></td>
                                <td><p>0.2kg</p></td>
                                <td><p>0.2kg</p></td>
                                <td><p>0.2kg</p></td>
                            </tr>
                            <tr>
                                <td><p>Description</p></td>
                                <td><p>Vestibulum eu odio. Suspendisse potenti. Morbi mollis tellus ac sapien. Praesent egestas tristique nibh. Nullam dictum felis eu pede mollis pretium. Fusce egestas elit eget lorem. In auctor lobortis lacus.</p></td>
                                <td><p>Vestibulum eu odio. Suspendisse potenti. Morbi mollis tellus ac sapien. Praesent egestas tristique nibh. Nullam dictum felis eu pede mollis pretium. Fusce egestas elit eget lorem. In auctor lobortis lacus.</p></td>
                                <td><p>Vestibulum eu odio. Suspendisse potenti. Morbi mollis tellus ac sapien. Praesent egestas tristique nibh. Nullam dictum felis eu pede mollis pretium. Fusce egestas elit eget lorem. In auctor lobortis lacus.</p></td>
                            </tr>
                            <tr>
                                <td><p>Action</p></td>
                                <td>
                                    <div class="action-compare">
                                        <a href="#" class="animate-default button-hover-red">Add to Cart</a>
                                        <a href="#" class="animate-default"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                        <a href="#" class="animate-default"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="action-compare">
                                        <a href="#" class="animate-default button-hover-red">Add to Cart</a>
                                        <a href="#" class="animate-default"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                        <a href="#" class="animate-default"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="action-compare">
                                        <a href="#" class="animate-default button-hover-red">Add to Cart</a>
                                        <a href="#" class="animate-default"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                        <a href="#" class="animate-default"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content Compare -->
    <!-- Support -->
    <div class=" support-box full-width bg-red support_box_v2">
        <div class="container-web">
            <div class=" container">
                <div class="row">
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_free_ship_white-min.png" alt="Icon Free Ship" class="absolute">
                        <p>Find Cheapest Products</p>
                        <p>on order over 500</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_support_white-min.png" alt="Icon Supports" class="absolute">
                        <p>support</p>
                        <p>life time support 24/7</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_patner_white-min.png" alt="Icon partner" class="absolute">
                        <p>help partner</p>
                        <p>help all aspects</p>
                    </div>
                    <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                        <img src="../../../../assets/img/icon_phone_table_white-min.png" alt="Icon Phone Tablet" class="absolute">
                        <p>contact with us</p>
                        <p>+07 (0) 7782 9137</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>